# Files to store in git-lfs

# Images
*.svg *.png *.jpg *.jpeg *.gif *.7z *.br filter=lfs diff=lfs merge=lfs -binary

# Archives
*.tar *.zip *.rar filter=lfs diff=lfs merge=lfs -binary

# Video/Audio
*.mkv *.avi *.mov *.mp4 *.flv *.mpg *.mpeg *.vob *.amv *.3gp filter=lfs diff=lfs merge=lfs -binary

# Disk images
*.iso *.elf filter=lfs diff=lfs merge=lfs -binary

# Executables
*.exe *.msi *.dll filter=lfs diff=lfs merge=lfs -binary